#!/usr/bin/make -f
%:
	dh $@ --with phpcomposer

override_dh_auto_build:
	cd app && composer install
	find app/Vendor -name .gitattributes -delete
	find app/Vendor -name .gitignore -delete
	dh_auto_build

override_dh_auto_clean:
	rm -rf app/Vendor app/composer.lock
	dh_auto_clean
